/* ALL STYLES */

* {
  font-family: "Montserrat", sans-serif;
  background-color: #2B2733;
  color: #CBC9CF;
  font-weight: 300;
  margin: 0px;
}

/* ~~~~~~~~~~~ SECTIONS ~~~~~~~~~*/

header {
  background-color: #46424D;
  font-size: 1.7em;
  height: 75px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-sections {
  display: grid;
  grid-template-columns: 65% 35%;
}

.new-activity {
  border-right: 3px solid #46424D;
  height: 1000px;
}

.box-title {
  padding: 35px 0 0 30px;
  font-weight: 300;
  font-size: 1.8em;
}

.activity-selector {
  background-color: #46424D;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 4em;
  margin: 10px 30px 20px 30px;
  border-radius: 10px;
  border-style: solid #46424D;
}

/* ~~~~~~BUTTONS~~~~~~~~ */

.selection-header {
  padding: .6em 0 0 0;
  margin-left: 45px;
  background-color: #46424D;
  color: #FFF;
  font-weight: 400;
  font-size: 1.4em;
}

.button-image  {
  background-color: #46424D;
  height: 33%;
  width: 45%;
}

.button {
  background-color: #46424D;
  height: 80px;
  width: 175px;
  padding: 0;
  border: 5px;
  border-width: medium;
  border-color: white;
  border-radius: 5px;
  border-style: solid;
  margin: 15px 25px 40px 25px;
  font-size: 1.3em;
  font-weight: 400;
  outline: none;
}

.study-button {
  background-image: url("./assets/study.svg");
  background-repeat: no-repeat;
  background-size: 1.4em;
  /* display: flex; */
  /* justify-content: center; */
}

.study-button:focus {
  border-color: #B3FD78;
  color: #B3FD78;
  background-image: url("./assets/study-active.svg")
}

.meditate-button {
  background-image: url("./assets/meditate.svg");
  background-repeat: no-repeat;
  background-size: 1.4em;
  /* display: flex; */
  /* justify-content: center; */
}

.meditate-button:focus {
  border-color: #C278FD;
  color: #C278FD;
  background-image: url("./assets/meditate-active.svg")
}

.exercise-button {
  background-image: url("./assets/exercise.svg");
  background-repeat: no-repeat;
  background-size: 1.4em;
}

.exercise-button:focus {
  border-color: #FD8078;
  color: #FD8078;
  background-image: url("./assets/exercise-active.svg")
}

.button-row {
  display: flex;
  justify-content: space-around;
  background-color: inherit;

}

/* ~~~~~~~~ INPUTS~~~~~~~~~~ */

.input-label{
  background-color: #46424D;
  margin: 20px 0 30px 45px;
  color: #fff;
  font-weight: 400;
  font-size: 1.4em;
}

.time-input {
  background-color: #46424D;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 20px 0 0 0px;
}

.input-form {
  background-color: #46424D;
  margin-left: 45px;
  margin-right: 45px;
  /* height: 5%; */
  border: none;
  border-bottom: .2em solid white;
  height: 2em;
}

.number-inputs {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #46424D;
}

.start-activity {
  display: flex;
  justify-content: flex-end;
  background-color: #46424D;
}

.start-activity-button {
  margin: 20px 45px 20px 0;
  width: 28%;
  padding: 10px;
  background-color: #ffffff;
  font-size: 1.3vw;
  font-weight: 400;
  color: #46424D;
  border-radius: 5px;
  border: none;
}




/* PAST ACTIVITIES BOX */
