/* ALL STYLES */
* {
  font-family: "Montserrat", sans-serif;
  background-color: #2B2733;
  color: #CBC9CF;
  font-weight: 300;
  margin: 0px;
}

html, body {
  /* height: 100; */
}

/* HEADER */
.header {
  background-color: #46424D;
  text-align: center;
  font-size: 2vw;
  padding: 1em;
  height: 5%;
  border: none;
}


/* BOXES */

.main-boxes {
  display: grid;
  grid-template-columns: 65% 35%;
  /* height: 560px; */
}

.new-activity {
  /* background-color: #46424D; */
  border-right: 10px solid #46424D;
  height: 1000px;
}

.activity-selector {
  background-color: #46424D;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2em;
  margin: 20px 40px 20px 20px;
  border-radius: 10px;
  border-style: solid #46424D;
}

.selection-header {
  padding: .6em 0 0 0;
  margin-left: 45px;
  background-color: #46424D;
  color: #FFF;
  font-weight: 400;
  font-size: large;
}

.button-image  {
  background-color: #46424D;
  height: 24%;
  width: 36%;
}

.button {
  background-color: #46424D;
  height: 80px;
  width: 175px;
  padding: 0;
  border: 5px;
  border-width: medium;
  border-color: white;
  border-radius: 3px;
  border-style: solid;
  margin: 25px;
  font-size: 1.3vw;
  font-weight: 400;
}

.button-row {
  display: flex;
  justify-content: space-around;
  background-color: inherit;

}

.input-label{
  background-color: #46424D;
  margin-left: 45px;
}

.time-input {
  background-color: #46424D;
  display: grid;
  grid-template-columns: 50% 50%;

  /* display: flex;
  justify-content: space-around; */
  /* margin-left: 70px; */
}

.input-form {
  background-color: #46424D;
  margin-left: 45px;
  margin-right: 45px;
  /* width: ; */
  height: 5%;
  border: none;
  border-bottom: .2em solid white;
}

.number-inputs {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #46424D;
}

.start-activity {
  display: flex;
  justify-content: flex-end;
  background-color: #46424D;
}

.start-activity-button {
  margin: 0 45px 40px 0;
  width: 25%;
  padding: 8px;
  background-color: #ffffff;
  font-size: 1.3vw;
  font-weight: 400;
  color: #CBC9CF;
  border-radius: 5px;
}




/* PAST ACTIVITIES BOX */
